
#question {
  width: 500px;
  height: 400px;
  background-color: rgb(32, 238, 156);
  box-shadow: 5px 5px rgb(138, 138, 138);
  
}

.content{
  margin-left: 10px;
  padding: 50px 50px;
}

.question-button{
  margin-top: 30px;
}

.chicken-img {
  max-width: 300px;

}